.custom-calendar {
    width: 100%;
}

.custom-calendar .react-datepicker__input-container {
    position: relative;
}

.custom-calendar .react-datepicker__input-container input {
    width: 100%;
    padding-right: 30px; /* Space for the calendar icon */
}

.custom-calendar .react-datepicker__input-container .react-datepicker-wrapper {
    display: block;
}

.custom-calendar .react-datepicker__input-container .react-datepicker__input-container {
    display: block;
}

.custom-calendar .react-datepicker__input-container .react-datepicker__input-container input {
    width: 100%;
}

/* Updated styles for the calendar icon */
.calendar-icon {
    position: absolute;
    top: 50%;
    left: 290px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000; /* Optional: Change the color of the icon */
}


.animate-success {
    animation: success-animation 1s ease-out;
}

@keyframes success-animation {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}